.container{
    display:grid;
    grid-template-columns: 30px repeat(7,1fr);
    grid-template-rows: 70px 800px 1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid yellow;
}
.box{
    border: 1px solid pink;
    background: #F8FA9D;
    }
.header{
    grid-area:hd;
}
.footer{
    grid-area:ft;
}
.sidebar{
    grid-area:sd;
}
.content{
    grid-area:main;
    background-size: contain;
    background-image: url('images/unnamed\ \(4\).jpg')
  
}
    

